/* Tags */
nav{
  z-index: 10001;
}

/* ID's */
#menu{
  background-color: #333;/*006eff*/
  color: #fff;
}

#titulo_icone_div{
  text-align: center;
}

#titulo_icone_div a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

#menu_hamburguer{
  float: left;
  color: #fff;
}

#close_nav{
  /* background-color: #333; */
  background-image: linear-gradient(to right, #333 , #3d3d3d);/*3d3d3d*/
  color: #fff;
  float: right;
  padding: 2px;
  border-radius: 3px;
  font-size: 20px;
  margin: 10px 20px;
  transition: 0.3s;
}

#close_nav:hover{
  background-color: #333;
  transition: 0.3s;
}

/* Classes */
.icons-medium{
  cursor: pointer;
  font-size: 35px;
  transition: 0.3s;
  margin: 4px 8px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.is-visible {
  transform: translateX(0);
}

.language_desc{
  background-image: #FFF;/*3d3d3d*/
  text-align: center;
  color: #333;
  padding: 2px;
  width: 100%;
  font-size: 100%;
  border-bottom: #333 1px solid;
  margin-bottom: 10px;
}

.category_desc{
  background-image: linear-gradient(to right, #333 , #3d3d3d);
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.category_desc2{
  background-image: linear-gradient(to right, #333 , #3d3d3d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
  height: 50px;
  text-align: center !important;
}

.category_desc{
  background: #FFF;
  color: #333;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: 1px solid #333;
  text-decoration: none;
}

.subcategory_desc{
  color: #FFF;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  text-decoration: none;
  height: 100px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_card{
  position: relative;
  margin-top: -5%;
  margin-bottom: 16%;
  cursor: pointer !important;
}

.title_card span{
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  font-weight: bold;
  padding: 2%;
  width: 17%;
  border-radius: 0px 10px;
  color: #FFF;
  text-align: center;
  z-index: 2;
}

.title_card label{
  position: absolute;
  display: inline-block;
  background-color: #333;
  top: 0px;
  font-weight: bold;
  padding: 2%;
  padding-left: 50px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  color: #FFF;
  text-align:calc(100px);
  z-index: 1;
}

.subcategory_desc h5{
  margin: 10px;
  font-size: 3vh;
}
.subcategory_desc h6{
  text-align: center;
  margin: 10px;
  font-size: 2.4vh;
}

.popup-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content h3 {
  margin: 0 0 10px;
}

.popup-content button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background: #0056b3;
}

.img_div img{
  position: relative;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  height: 20vh;
}

.img_div label{
  position: relative;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  height: 20vh;
  color: #FFF;
  font-weight: bold;
  margin: 0 auto;
  font-size: 3vh;
  text-align: center;
}

.topic_icon{
  color: #FFF;
  margin: 1%;
  float: right;
  margin-top: 4px;
  transition: transform 0.3s ease;
}

.row > * {
  /* padding-left: unset !important;
  padding-right: unset !important; */
}

.rotated {
  transform: rotate(90deg);
}

.vh_button{
  height: 10vh;
}

.vh_title{
  height: 10vh;
  text-align: center;
}

.vh_body_div{
  height: 80vh;
  text-align: center;
}

.topic_desc{
  /* border-radius: 10px;
  padding: 10px;
  width: 21%;
  margin-left: 2% !important;
  margin-bottom: 2%;
  flex: 0 0 auto; */
  cursor: pointer !important;
}

.row_desc{
  margin: 0px;
}

.flashcards-container {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0px 10px;
}

.flashcard {
  perspective: 1000px;
  width: 80%;
}

.show_card{
  display: inline-block;
}

.hide_card{
  display: none;
}

.card {
  width: 100%;
  height: 70vh;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-image: linear-gradient(to right, #333 , #3d3d3d);
  color: #fff;
  font-weight: bold;
}

.front {
  background-color: #fff;
}

.back {
  background-color: #f9f9f9;
  transform: rotateY(180deg);
}

.front p, .back p{
  text-align: left !important;
  margin: 10px;
  font-size: 3vw;
}

.play_icon{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 7vh;
  cursor: pointer;
  z-index: 1000;
}

.highlight {
  font-weight: bold;
  color: #FFF;
}

.lowlight {
  font-weight: bold;
  color: #d2d2d2;
}

.btn_card{
  background-color: #FFF;
  color: #333;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 2vw;
  padding: 10px;
}

.btn_card:hover{
  background-color: #f9f9f9;
}

.buttons {
  margin-top: 1rem;
}

.buttons button {
  margin: 0 0.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  flex-direction: column;
  color: #333;
}

.spinner {
  animation: spin 2s linear infinite;
  margin-bottom: 16px;
  font-size: 40px;
}

.top_span{
  float: left;
  color: #FFF;
  z-index: 1;
  margin: 10px;
  position: absolute;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media */
@media (min-width: 0px) {
  .front p, .back p{
    text-align: left !important;
    margin: 10px;
    font-size: 6vw;
  }
}

@media (min-width: 576px) {
  .front p, .back p{
    text-align: left !important;
    margin: 10px;
    font-size: 4vw;
  }
}

@media (min-width: 768px) {
  .front p, .back p{
    text-align: left !important;
    margin: 10px;
    font-size: 3vw;
  }
}

@media (min-width: 992px) {
  .front p, .back p{
    text-align: left !important;
    margin: 10px;
    font-size: 3vw;
  }
}